<h1>Listing stories</h1>

<%= form_for :filter, :method => :get do |f| %>
<table>
  <tr>
    <td>
        <%= f.select "user_id", options_from_collection_for_select(@users.unshift(User.new(:id=>nil, :name=>'- Select user -')), "id", "name", (params[:filter] ? params[:filter][:user_id] : nil)) %>
    </td>
    <td>
        <%= f.select :state,
             options_for_select(Story.state_machine.states.map{|x| x.human_name}, (params[:filter] ? params[:filter][:state] : nil)),
             {:include_blank => '- Select story state -'} %>
    </td>
    <td>
        <button type="submit" class="btn">Filter</button>
        <!--%= f.submit "Filter" %-->
    </td>
  </tr>
</table>
<% end %>

<table border="1" cellpadding="5">
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
    <th>State</th>
    <th></th>
  </tr>

<% @stories.each_with_index do |story,i| %>
  <tr>
    <td><%= story.id %></td>
    <td><%= story.user.name %> &lt;<%= story.user.email %>&gt;</td>
    <td><%= story.title %></td>
    <td><%= truncate(story.content, :length => 50, :omission => '...') %></td>
    <td><%= story.state %></td>
    <td><%= link_to 'Show', story %>
    <%= link_to 'Edit', edit_story_path(story) %>
    <%= link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
