<!DOCTYPE html>
<html>
<head>
  <title>Simple Task Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
    <div class="top-nav-bar">
    <% if current_user %>
        <div class="float-left"><%= link_to 'Home', root_path %>&nbsp;</div>
        <div class="float-left"><%= link_to 'Users', users_path %></div>
        <div class="float-right"><%= link_to 'Logout', logout_path %></div>
        <div class="float-right">logged as:&nbsp;<b><%= current_user.name %></b>&nbsp;</div>
    <% end %>
    </div>

    <div id="container" class="clear">
        <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name %>">
                <p>
                  <%= content_tag :div, msg, :id => "flash_#{name}" %>
                </p>
            </div>
        <% end %>

        <%= yield %>

    </div>  
</body>
</html>
